# dependencies
node_modules

# builds
dist
dist-ssr
*.local

# env & secrets
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*

# editor / os
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?

# deployment
.vercel
.netlify
